.brand {
  cursor: pointer;
  margin-top: 2vh;
  margin-left: 4vh;
  font-size: 6vh;
  border-bottom: 0.5vh solid #1C97D2;
}

.nav-item {
  display: flex;
  justify-content: end;
  margin-right: 5vh;
  font-size: 3vh;
}

.nav-link {
  color: rgb(208, 208, 208);
}

.active-link {
  display: none;
}
