<div class="all">
  <div class="profile-image mb-4">
      <div class="home-square-button">
        <img id="headshot-outline" src="assets/img/headshot.png"
          alt="Button with an outline of a picture of me. This goes to my about page." [routerLink]="'/about'">
      </div>
    <div class="contact-details px-2">
      <div class="email mt-4">
        <a href="mailto: {{env.email}}">{{env.email}}</a>
        <hr class="contact-animate">
      </div>
      <div class="phone mt-2">
        <a href="tel: {{env.phone}}">{{env.phone|phone}}</a>
        <hr class="contact-animate">
      </div>
    </div>
  </div>
  <div>
    <h1>Hi! My name is Jacob Snell.</h1>
    <hr>
  </div>
  <div>
    <p>
      I am a Java full-stack bootcamp graduate and fluent in Rust (my favorite), Java, Python, JavaScript, and SQL.
      <br>
      <br>
      I have also used GLSL (OpenGL Shader Language), ARM64 Apple Assembly (apple ARM64 is a little
      different from the standard), and the C language.
      <br>
      <br>
      I am passionate about clean architecture practices, compiler design, operating system kernel design, and
      high
      performance server engineering just to name a few.
      <br>
      <br>
      My goals for the future include pursuing a degree in computer
      science, and to design my own programming language.
      <br>
      <br>
      I look forward to inquiries and discussion.
    </p>
  </div>
</div>
