<div id="home-badges">
  <div class="d-block d-md-flex justify-content-between">

    <div class="home-square-button d-flex justify-content-center">
      <img id="headshot-outline" src="assets/img/outline.png"
        alt="Button with an outline of a picture of me. This goes to my about page." [routerLink]="'/about'">
    </div>

    <div class="home-square-button d-flex justify-content-center">
      <img id="github-logo" src="assets/img/github.png" alt="Button with the Github cat logo. This links to my github.">
    </div>

    <div class="home-square-button d-flex justify-content-center">
      <img id="linkedin-logo" src="assets/img/linkedin.png"
        alt="Button with the linkedin logo. This links to my linkedin profile.">
    </div>

  </div>
</div>
